# --- Bibliothèques Core ---
streamlit
pandas
numpy

# --- Base de données ---
firebase-admin

# --- Génération de fichiers ---
# Attention : le package s'appelle 'python-docx' et non 'docx'
python-docx
